
/**
    create by xaitianlong on 2017/03/17
    前端自定义css样式 && 插件样式覆盖
*/

body{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
@media (min-width: 1600px){
    .container {
        width: 1366px;
    }
}
::selection {
    background:rgba(161,40,40,0.3);
    color:rgba(255,255,255,0.8);;
}
.xtl-index-input, .xtl-index-input:active, .xtl-index-input:focus{
    border: none;
    border-bottom: 1px solid rgba(48,48,48,0.5);
    background: rgba(255,255,255,0);
    box-shadow:none;
    border-radius: 0;
}
.xtl-has-not{
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: rgba(161,40,40,0.6);
}
/* 导航 icon */
.navbar-brand{
    padding:10px 15px;
}
#xtl-navbar-user-unlogin{
    color: #ffffff;
    line-height: 50px;
}
#xtl-navbar-user-unlogin a{
    color: #ffffff;
}
#xtl-navbar-user-unlogin a:hover{
    text-decoration: underline;
}
#xtl-navbar-user-login{
    color: #ffffff;
    line-height: 50px;
}
#xtl-navbar-user-login img{
    height:30px;
    width: 30px;
    border-radius: 15px;
}
#xtl-navbar-user-login img:hover{
    cursor: pointer;
}

.index-body{
    background: url('../../resources/images/site-bg.jpg') no-repeat fixed;
    background-size: 100% 100%;
}

#xtl-gotop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}
.xtl-gotop-item{
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
}
.xtl-gotop-item > i{
    line-height: 40px;
}
#xtl-gotop-up{
    background: rgba(48,48,48,0.8);
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
#xtl-gotop-wechat{
    background: rgba(48,48,48,0.8);
    color: #64d914;
    position: relative;
}
#xtl-gotop-wechat > img{
    position: absolute;
    top:-97px;
    left:-140px;
    width: 140px;
    height: auto;
    display: none;
}
#xtl-gotop-up:hover{
    background: rgba(161,40,40,0.6);
    cursor: pointer;
}
#xtl-gotop-wechat:hover{
    background: rgba(161,40,40,0.6);
    cursor: pointer;
}
#xtl-gotop-wechat:hover img{
    display: inline-block;
}
/** menu css bengin */

.navbar-inverse{
    background: none;
    border: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover{
    background: none;
    text-shadow: 5px 5px 5px #F0F0E6;
}
.navbar-inverse .navbar-nav>li>a{
    color: #303030;
}
.navbar-inverse .navbar-nav>li>a:hover{
    text-shadow: 5px 5px 5px #A4A49A;
}
@media screen and (min-width: 768px){
    .navbar-inverse{
        margin-top: 30px;
    }
    #navbar .nav>li {
        width: 120px;
        font-size:18px;
        font-weight: bold;
        text-align: center;
    }
}
/** menu css end*/


/*article css begin*/
.xtl-article-type{
    color: #4FC1E9;
}
.xtl-article-type:hover{
    color: #A12828;
    text-decoration: none;
}
.xtl-article-list-card{
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.xtl-article-list-card:hover{
    -moz-box-shadow:1px 1px 10px rgba(48,48,48,0.8);
    -webkit-box-shadow:1px 1px 10px rgba(48,48,48,0.8);
    box-shadow:1px 1px 10px rgba(48,48,48,0.8);
    cursor: pointer;
    border-radius: 5px;
    border:none;
}
.xtl-article-list-card .card-img img{
    width:100%;
    height: auto;
    border-radius: 5px;
}
.xtl-article-list-card .card-title{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
}
.xtl-article-detail-content{
    padding: 15px 20px;
    background: rgba(255,255,255,0.5);
    margin-bottom: 30px;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    .xtl-article-detail-content{
        padding: 15px 10px;
    }
}
.xtl-article-detail-content .article-title{
    font-size: 18px;
    padding: 10px;
    font-weight: 600;
}
.xtl-article-detail-content .article-second-title{
    font-size: 14px;
    color: rgba(161,40,40,0.5);
    padding-bottom: 15px;
}
#article-search-btn:hover{
    color: rgba(161,40,40,0.8);
    cursor: pointer;
}
.xtl-blockquote{
    padding: 5px 15px;
    margin: 0 0 10px;
    font-size: 16px;
    border-left: 5px solid rgba(161,40,40,0.5);
    font-weight: 700;
    color: rgba(48,48,48,0.8);
}

.index-article-card{
    background: rgba(255,255,255,0.3);
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 25px;
}
.index-article-card .title{
   font-size: 16px;
    margin: 10px 0;
}
.index-article-card .introduction{
    font-size: 14px;
}
.index-article-card .article-img img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
@media(max-width:768px) {
    #cyReward{
        display: none;
        visibility: hidden;
    }
}

.index-note-card{
    background: rgba(255,255,255,0.3);
    padding: 10px 0;
    border-radius: 5px;
    margin-bottom: 25px;
}
.index-note-card .title{
    margin-bottom: 10px;
    font-size: 16px;
}
.index-note-card .tag{
    display: inline-block;
    background: rgba(161,40,40,0.2);
    border-radius: 3px;
    padding: 2px 5px;
}
/*article css end*/

/* note css begin **/
.xtl-note-tag{
    display: inline-block;
    padding: 2px 5px;
    background: rgba(161,40,40,0.1);
    border-radius: 3px;
    font-size: 13px;
    margin-right: 10px;
}

/* note css end **/

/*about css begin */
#about-xiatianlong-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 3px rgba(48,48,48,0.1)
}
.xtl-about-text{

}
/*about css end*/

/*404  500 画面 begin*/
.xtl-backhome-btn{
    display: inline-block;
    margin-top: 3%;
    border: 1px solid rgba(161,41,41,0.8);
    font-size: 14px;
    padding: 5px 10px;
    color: rgba(161,41,41,1);
}
.xtl-error-page-title{
    display: inline-block;
    margin: 3% 5% 3%;
    font-size: 16px;
    color: rgba(161,41,41,1);
}
.xtl-message-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 7px 15px;
    border: 1px solid rgba(161,40,40,0.7);
    letter-spacing: 5px;
    border-radius: 5px;
    color: rgba(161,40,40,1);
    font-weight: 100;
}
.xtl-message-btn:hover{
    cursor: pointer;
    border: 2px solid rgba(161,40,40,1);
    font-weight: 400;
}
#message-text{
    height: 80px;
    resize: none;
}

#gameContent #canvas{
    width: 600px;
    height: 600px;
}
@media(max-width:768px) {
    #gameContent #canvas{
        width: 80%;
        height: 300px;
    }
}
/*404  500画面 end*/


/*dq css begin*/
#dq-page-go-btn:hover{
    color: rgba(161,40,40,0.8);
    cursor: pointer;
}
/*dq end begin*/

/* footer css begin */
#xtl-footer{
    margin-top: 5%;
    margin-bottom: 3%;
    font-size:12px;
}
#xtl-footer > hr{
    margin-top: 0;
    margin-bottom: 10px;
    width: 75%;
}
#xtl-footer > span{
    color: rgba(161,40,40,0.5);
    display: inline-block;
    margin-right: 5px;
}
#xtl-footer > span:hover{
    color: rgba(161,40,40,1);
}
#xtl-footer > a{
    color: rgba(48,48,48,0.5);
    display: inline-block;
    margin-left: 5px;
}
#xtl-footer > a:hover{
    color: rgba(48,48,48,1);
    text-decoration: none;
}
/* footer css end */

/*index right css begin*/
#xtl-index-head{
    margin-bottom: 20px;
    position: relative;
}
#xtl-index-head img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    -moz-box-shadow:2px 2px 20px rgba(48,48,48,0.2);
    -webkit-box-shadow:2px 2px 20px rgba(48,48,48,0.2);
    box-shadow:2px 2px 20px rgba(48,48,48,0.2);
}
#xtl-index-new, #xtl-index-hot{
    margin-bottom: 20px;
}
#xtl-index-head1{
    position: absolute;
    top:30%;
    right: 30%;
    font-size: 18px;
    text-shadow:0 2px 4px rgba(48,48,48,0.8);
    color: rgba(161,40,40,0.6);
    -webkit-animation-duration:3s;
    animation-duration:3s
}

#xtl-index-head2{
    display: none;
    position: absolute;
    top:45%;
    right: 20%;
    font-size: 18px;
    text-shadow:0 2px 4px rgba(48,48,48,0.8);
    color: rgba(161,40,40,0.6);
    -webkit-animation-duration:3s;
    animation-duration:3s
}

@media(max-width:768px) {
    #xtl-index-head1{
        position: absolute;
        top:20%;
        right: 30%;
        font-size: 16px;
        text-shadow:0 2px 4px rgba(48,48,48,0.8);
        color: rgba(161,40,40,0.6);
        -webkit-animation-duration:3s;
        animation-duration:3s
    }

    #xtl-index-head2{
        display: none;
        position: absolute;
        top:60%;
        right: 20%;
        font-size: 16px;
        text-shadow:0 2px 4px rgba(48,48,48,0.8);
        color: rgba(161,40,40,0.6);
        -webkit-animation-duration:3s;
        animation-duration:3s
    }
}


.xtl-tab-item a{
    color: rgba(48,48,48,1);
    font-size: 14px;
    display: inline-block;
    margin-top: 5px;
}
.xtl-tab-item a:hover{
    color: rgba(161,40,40,0.8);
    text-decoration: none;
}
.xtl-tab-item-more{
    text-align: right;
}
.xtl-tab-item-more a{
    color: rgba(161,40,40,0.8);
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}
.xtl-tab-item-more a:hover{
    color: rgba(161,40,40,0.8);
}

#xtl-index-new ul.nav-tabs, #xtl-index-hot ul.nav-tabs{
    margin-bottom: 10px;
}
.index-note-card:hover, .index-article-card:hover{
    cursor: pointer;
    -moz-box-shadow:1px 1px 10px rgba(40,40,40,1);
    -webkit-box-shadow:1px 1px 10px rgba(40,40,40,1);
    box-shadow:1px 1px 10px rgba(40,40,40,1);
}

#xtl-index-new .nav-tabs>li.active>a, #xtl-index-hot .nav-tabs>li.active>a{
    border-radius: 3px;
    background: rgba(161,40,40,0.3);
    border: none;
}
#xtl-index-new .nav-tabs>li>a, #xtl-index-hot .nav-tabs>li>a{
    border-radius: 3px;
    background: rgba(161,40,40,0);
    border: none;
}
#xtl-index-new .nav-tabs, #xtl-index-hot .nav-tabs{
    border: none;
}
#xtl-index-new .nav>li>a, #xtl-index-hot .nav>li>a{
    padding:2px 4px;
    color: rgba(48,48,48,1);
    font-size: 12px;
}
#xtl-index-new .nav>li.active>a, #xtl-index-hot .nav>li.active>a{
    padding:2px 4px;
    color: rgba(161,40,40,0.8);
    font-size: 12px;
}
/*index right css end*/


/*dq css begin*/
#dq-login-content{
    width: 300px;
    margin: 10% auto;
}

/*dq css end*/